absl-py==0.7.0
astor==0.7.1
certifi==2020.6.20
cycler==0.10.0
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.2.0
Markdown==3.0.1
matplotlib==3.3.1
numpy==1.16.0
pandas==1.1.1
Pillow==7.2.0
pkg-resources==0.0.0
protobuf==3.6.1
pyparsing==2.4.7
python-dateutil==2.7.5
pytz==2018.9
PyYAML==5.3.1
scipy==1.5.2
seaborn==0.10.1
six==1.12.0
tensorboard==1.12.2
tensorboardX==1.6
tensorflow==1.12.0
termcolor==1.1.0
torchvision==0.2.1
tqdm==4.29.1
Werkzeug==0.14.1
